.createNewArticle-list {
   display: flex;
   padding: 32px;
   width: 80%;
   max-width: 840px;
   background-color: #ffffff;
   margin: 34px auto 464px;
   display: flex;
   flex-direction: column;
   border: 1px solid #D9D9D9;
   box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
   border-radius: 6px;
   & .title {
      margin: auto;
      width: 311px;
      display: flex;
      justify-content: center;
      & h3 {
         margin: 0;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 500;
         font-size: 20px;
         line-height: 28px;
         text-align: center;
         color: #262626;
      }
   }
   & form {
      display: flex;
      flex-direction: column;
      & div {
         & p {
            margin: 0;
            margin-bottom: 12px;
            color: #F5222D;
         }
      }
      & label {
         margin-top: 21px;
      }
      & input {
         caret-color: auto;
         margin-top: 2px;
         padding: 8px 12px;
         border: 1px solid #D9D9D9;
         border-radius: 4px;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         display: flex;
         align-items: center;
      }
      & span {
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 22px;
         color: #262626;
      }
     & textarea {
      caret-color: auto;
      resize: none;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 8px 12px;
     }
     & .tag-conteiner {
      display: flex;
      & .tegError {
         margin-top: 15px;
      }
      & .form-one-tag {
         display: flex;
         height: 50px;
         & .form-one-tag_input-text {
            width: 274px;
            margin: 5px 10px 5px 0;
         }
         & .form-one-tag_delete {
            cursor: pointer;
            padding: 0 25px;
            margin: 5px 15px;
            background-color: #FFFFFF;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            border-radius: 6px;
            border: 1px solid #F5222D;
            color: #F5222D;
         }

      }
      & .form-one-tag_add-teg {
         cursor: pointer;
         min-width: 110px;
         font-family: 'Roboto';
         font-style: normal;
         font-weight: 400;
         font-size: 16px;
         line-height: 24px;
         background-color: #FFFFFF;
         color: #1890FF;
         border: 1px solid #1890FF;
         height: 40px;
         padding: 0 25px;
         margin: 5px 0;
         border-radius: 6px;
         margin-top: auto;
      }
     }
     & .createNewArticle-list_send {
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 8px 16px;
      gap: 4px;
      width: 319px;
      height: 40px;
      background: #1890FF;
      border-radius: 4px;
      color: #FFFFFF;
     }

   } 
}
