.foundTickets-container {

   & .loadTicket {
      margin-top: 10px;
      border-radius: 5px;
      width: 482px;
      padding-left: 20px;
      height: 35px;
      & .loader{ 
      font-size: 19px;
      color: rgb(17, 17, 17);
      display: inline-block;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 200;
      position: relative;
    }
   & .loader:after{
      content: 'Ожидаеться загрузка полного списка билетов....';
      position: relative;
      z-index: 5;
    }
   & .loader:before{
      content: '';
      height: 6px;
      border: 1px solid;
      border-radius: 10px;
      width: 100%;
      position: absolute;
      bottom: -8px;
      background: linear-gradient(#FF3D00 100%, transparent 0) no-repeat;
      background-size: 0% auto;
      animation: 10s lineGrow linear infinite;
    }

    @keyframes lineGrow {to {  background-size: 100% auto}}

   }
   
   & .button-container {
      display: flex;
      & button {
         min-width: 168px;
         font-family: 'Open Sans';
         font-style: normal;
         font-weight: 600;
         font-size: 12px;
         line-height: 20px;
         align-items: center;
         text-align: center;
         letter-spacing: 0.5px;
         text-transform: uppercase;
         color: #4A4A4A;
         padding: 15px;
         background: #FFFFFF; 
   }
   & .button-selected-cheapClass {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      background: #2196F3;
      color: #FFFFFF;
      border: 1px solid #DFE5EC;
      border-radius: 5px 0 0 5px;
   }
   & .button-selected-fastClass {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      background: #2196F3;
      color: #FFFFFF;
      border: 1px solid #DFE5EC;
      border-left: 0px;
      border-right: 0px;
   }
   & .button-selected-optimalClass {
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      background: #2196F3;
      color: #FFFFFF;
      border: 1px solid #DFE5EC;
       border-radius: 0 5px 5px 0; 
   }
   & .cheapClass {
      border: 1px solid #DFE5EC;
      border-radius: 5px 0 0 5px; 
   }
   & .fastClass {
      border: 1px solid #DFE5EC;
      border-left: 0px;
      border-right: 0px;
   }
   & .optimalClass {
      border: 1px solid #DFE5EC;
       border-radius: 0 5px 5px 0; 
    }
   }
   & .button-show-more {
      width: 502px;
      height: 50px;
      margin-top: 20px;
      font-family: 'Open Sans';
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 20px;
      align-items: center;
      text-align: center;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      border: none;
      color: #FFFFFF;
      background: #2196F3;
      border-radius: 5px;
   }
}
