.header {
   border: 1px solid #F3F7FA;
   height: 160px;
   & .logo-header {
      background: url(../../../public/img/Logo.svg) no-repeat center;
      width: 80px;
      height: 80px;
      margin: auto;
      margin-top:35px;
   }
}

