
@keyframes ldio-mbusbezw5ii {
	0% { transform: rotate(0) }
	100% { transform: rotate(360deg) }
 }
 .load-conteiner {
   justify-content: space-between;
   padding: 20px;
	padding-left: 400px;
	margin: auto;
	margin-bottom: 100px;
   width: 482px;
   height: 70px;
   margin-top: 20px;
   background: #ffffff;
   box-shadow: 0px 22px 106px rgba(0, 0, 0, 0.07), 0px 9.19107px 44.2843px rgba(0, 0, 0, 0.0503198), 0px 4.91399px 23.6765px rgba(0, 0, 0, 0.0417275), 0px 2.75474px 13.2728px rgba(0, 0, 0, 0.035), 0px 1.46302px 7.04911px rgba(0, 0, 0, 0.0282725), 0px 0.608796px 2.93329px rgba(0, 0, 0, 0.0196802);
   border-radius: 5px;
}
 .ldio-mbusbezw5ii div { box-sizing: border-box!important }
 .ldio-mbusbezw5ii > div {
	position: absolute;
	width: 102px;
	height: 102px;
	top: -1px;
	left: -1px;
	border-radius: 50%;
	border: 6px solid #000;
	border-color: #104fc4 transparent #104fc4 transparent;
	animation: ldio-mbusbezw5ii 1s linear infinite;
 }
 
 .ldio-mbusbezw5ii > div:nth-child(2), .ldio-mbusbezw5ii > div:nth-child(4) {
	width: 88px;
	height: 88px;
	top: 6px;
	left: 6px;
	animation: ldio-mbusbezw5ii 1s linear infinite reverse;
 }
 .ldio-mbusbezw5ii > div:nth-child(2) {
	border-color: transparent #f8b26a transparent #f8b26a
 }
 .ldio-mbusbezw5ii > div:nth-child(3) { border-color: transparent }
 .ldio-mbusbezw5ii > div:nth-child(3) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
 }
 .ldio-mbusbezw5ii > div:nth-child(3) div:before, .ldio-mbusbezw5ii > div:nth-child(3) div:after { 
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	top: -6px;
	left: 42px;
	background: #104fc4;
	border-radius: 50%;
	box-shadow: 0 96px 0 0 #104fc4;
 }
 .ldio-mbusbezw5ii > div:nth-child(3) div:after {
	left: -6px;
	top: 42px;
	box-shadow: 96px 0 0 0 #104fc4;
 }
 
 .ldio-mbusbezw5ii > div:nth-child(4) { border-color: transparent; }
 .ldio-mbusbezw5ii > div:nth-child(4) div {
	position: absolute;
	width: 100%;
	height: 100%;
	transform: rotate(45deg);
 }
 .ldio-mbusbezw5ii > div:nth-child(4) div:before, .ldio-mbusbezw5ii > div:nth-child(4) div:after {
	content: "";
	display: block;
	position: absolute;
	width: 6px;
	height: 6px;
	top: -6px;
	left: 35px;
	background: #f8b26a;
	border-radius: 50%;
	box-shadow: 0 82px 0 0 #f8b26a;
 }
 .ldio-mbusbezw5ii > div:nth-child(4) div:after {
	left: -6px;
	top: 35px;
	box-shadow: 82px 0 0 0 #f8b26a;
 }
 .loadingio-spinner-double-ring-qb237kgomco {
	margin: auto;
	width: 68px;
	height: 68px;
	display: inline-block;
	overflow: hidden;
 }
 .ldio-mbusbezw5ii {
	width: 100%;
	height: 100%;
	position: relative;
	transform: translateZ(0) scale(0.68);
	backface-visibility: hidden;
	transform-origin: 0 0; /* see note above */
 }
 .ldio-mbusbezw5ii div {
	  box-sizing: content-box;
	  }
 