.article-detail {
   display: flex;
   flex-direction: column;
   width: 938px;
   background: #FFFFFF;
   border-radius: 5px;
   margin: 24px auto 120px;
   & .content-list_header {
      display: flex;
      justify-content:space-between;
      margin: 15px;
      & .article-list_left_header {
         margin-right: auto;
         & .article-title_container {
            display: flex;
         }
         & .article-title {
            margin: 0 13px 0 4px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            display: flex;
            align-items: center;
            color: #1890FF;
         }
         & span {
            margin-top: 4px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            color: rgba(0, 0, 0, 0.75);
         }
         & .notLaik {
            margin-right: 5px;
            margin-top: 7px;
            width: 15px;
            height: 14px;
            background-image: url(../../../public/img/Vector.svg);
            background-position: center;
            border: none;
            background-color: #FFFFFF;
         }
         & .laik {
            margin-right: 5px;
            margin-top: 7px;
            width: 15px;
            height: 14px;
            background-image: url(../../../public/img/laik.svg);
            background-position: center;
            border: none;
            background-color: #FFFFFF;
         }
         & .content-list_teg {
            display: flex;
            & .teg_list {
               overflow-x: hidden;
               max-width: 600px;
               max-height: 50px;
               margin: 4px;
               padding: 2px 5px;
               font-family: 'Inter';
               font-style: normal;
               font-weight: 400;
               font-size: 12px;
               line-height: 15px;
               color: rgba(0, 0, 0, 0.5);  
               border: 1px solid rgba(0, 0, 0, 0.5);
               border-radius: 2px;
            }
         }
      }
      & .article-list_right_header {
         display: flex;
         margin-left: auto;
         & .author-name {
            & h5 {
               margin: 0;
               font-family: 'Inter';
               font-style: normal;
               font-weight: 400;
               font-size: 18px;
               line-height: 28px;
               color: rgba(0, 0, 0, 0.85);
            }
         }
         & .publication-date {
            margin: 0;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 22px;
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.5);
         }
         & .authors_profile_picture-container {
            & img {
               margin-left: 12px;
               width: 46px;
               height: 46px;
               border-radius: 50%;
               overflow: hidden;
            }
         }
         
      }
   }
   & .content-list_main {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 45px;
      margin-right: 15px;
      margin-left: 15px;
      & .slug-articl {
         flex-grow: 1;
      }
       p {
         margin: 0;
         font-family: 'Inter';
         font-style: normal;
         font-weight: 400;
         font-size: 12px;
         line-height: 22px;
         color: rgba(0, 0, 0, 0.75);
         }
         & .button-article {
            & .button-delete-article {
               cursor: pointer;
               margin-left: 12px;
               font-family: 'Inter UI';
               font-size: 14px;
               line-height: 22px;
               background-color: #FFFFFF;
               border: none; 
               color: #F5222D;
               border: 1px solid #F5222D;
               padding: 6px 18px;
               border-radius: 6px;
            }
            & .link-edit-article {
               text-decoration: none;
               margin-left: 12px;
               font-family: 'Inter UI';
               font-size: 14px;
               line-height: 22px;
               background-color: #FFFFFF;
               border: none; 
               color: #52C41A;
               border: 1px solid #52C41A;
               padding: 9px 18px;
               border-radius: 6px;
            }  
         }
      }
   & .article-detail-content {
      overflow: hidden;
      margin: 25px 42px 30px 19px;
      font-family: 'Inter';
      font-size: 20px;
      line-height: 28px;
      color: rgba(0, 0, 0, 0.75);
   }
}